/** Other                                                            */

@media screen and (min-width: 769px) and (max-width: 1000px) {
    .header__theme-toggle-link {
        position: absolute;
        right: 5%;
    }
}

@media screen and (max-width: 1199px) {

    .team-card,
    .team-card__img {
        width: 230px;
    }

    .contact-card {
        max-width: 305px;
        width: 100%;
    }

    .feedback-clients__box:first-of-type {
        margin-left: 0px;
    }

    .feedback-clients__box{
        max-width: 440px;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

    .work-gallery__wrapper:nth-child(4) {
        margin-top: -80px;
    }

    .work-gallery__wrapper:nth-child(6) {
        margin-top: -80px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    .work-gallery__wrapper:nth-child(4) {
        margin-top: -30px;
    }

    .work-gallery__wrapper:nth-child(6) {
        margin-top: -30px;
    }

    .work-gallery__wrapper {
        max-width: 315px;
        margin-bottom: 1%;
    }

}

@media screen and (max-width: 1200px){
    .blogs-card {
        max-width: 50%;
    }
}

/** Medium                                                           */


@media screen and (max-width: 1000px) {
    /* header */
    :root{
        font-size: 14px;
    }

    .logo-nav-wrapper{
        gap: 3%;
    }

    .nav__list{
        justify-content: space-around;
        gap: 3%;
        display: flex;
    }

    .list__item:not(:last-of-type){
        margin-right: 0;
    }

    .nav__list,
    .header__logo{
        padding: 0;
    }

    .content__text{
        margin-bottom: 25px;
    }

    .header__theme-toggle-link{
        width: 24px;
        height: 24px;
    }

    .header__img{
        width: 49%;
        height: 50%;
    }

    .header__content{
        width: 49%;
    }

    .header-social__links{
        top: 30%;
    }

    .content__heading{
        font-size: 2.8rem;
    }

    /* About */

    .about__img {
        object-fit: contain;
        align-self: center;
    }
    .section-heading {
        font-size: 2.3rem;
    }

    .about__card {
        padding: 15px 22px 11px 22px;
        max-width: 160px;
    }

    /* Experience */

    .expirience-box__index {
        font-size: 2.5rem;
    }

    .expirience-box__caption {
        font-size: 1rem;
    }

    .expirience-content__text:last-of-type {
        margin-bottom: 2rem;
    }

    /* Team */

    .team-cards{
        display: flex;
    }

    .team-card:nth-of-type(4) {
        display: none;
    }

    /* Work */

    .work-gallery__wrapper {
        max-width: 230px;
        max-height: 350px;
        margin-bottom: 1%;
    }

    /* Feedback */

    .feedback-clients__box:first-of-type {
        margin-left: 3%;
    }

    .feedback-clients__box{
        max-width: 290px;
        width: 100%;
        padding: 5% 5% 5% 6%;
    }

    .feedback {
        padding: 3.75rem 0 3.75rem 0;
    }

    .container {
        width: 90%;
    }

    .feedback-clients {
        width: 100%;
    }

    /* Blogs */

    .blogs-card {
        padding: 15px;
        height: 330px;
        justify-content: space-between;
    }

    .blogs-card__heading{
        font-size: 1.4rem;
    }

    /* Contact */

    .contact-card {
        max-width: 230px;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card__icon {
        width: 40px;
        height: 40px;
    }

    .card__icon-img {
        width: 20px;
        height: 20px;
    }

    /* .contact-card__service {
        font-size: 1.5rem;
    }

    .contact-card__action {
        font-size: 1.6rem;
    } */

    .contact-card__info:first-of-type {
        margin-bottom: 8px;
    }

    .contact__form-img{
        max-width: 50%;
    }

    .contact__form input {
        height: 50px;
    }

    .contact {
        padding: 50px 0;
    }

    .contact-icons {
        gap: 5%;
    }

    /* info */

    .info-newsletter,
    .info-services,
    .info-company{
        margin-left: 5%;
    }
}

/**Small                                                             */

@media screen and (max-width: 768px){

    /* header */
    .nav__list{
        display: none;
    }

    .nav__list.active{
        display: flex;
        flex-direction: column;
    }

    .nav__list.active li{
        margin-right: 0;
    }

    .nav__list.active .list__item:not(:last-child){
        margin-bottom: 5%;
    }

    .header__logo.active{
        display: none;
    }
    .header__theme-toggle-link.active{
        display: none;
    }

    .header__nav.active{
        padding: 25px 0;
        width: 100%;
        justify-content: flex-end;
        gap: 35%;
    }

    .logo-nav-wrapper{
        justify-content: space-between;
    }

    .burger {
        display: block;
        align-self: flex-start;
        order: 1;
    }

    .burger.active {
        padding-top: 7.5px;
    }

    .header__logo{
        order: -2;
    }

    .header__theme-toggle-link{
        order: -1;
        margin-left: -20%;
    }
    
    .burger.active .burger__bar:nth-child(2) {
        opacity: 0;
    }
    
    .burger.active .burger__bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .burger.active .burger__bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .header-social__links {
        top: 20%;
    }

    /* About */

    .about {
        padding: 50px 0;
    }

    .about-content{
        text-align: center;
    }

    .about__card {
        max-width: 125px;
        padding: 10px 20px 10px 20px;
    }

    /* Experience */

    .expirience-content{
        text-align: center;
    }

    .expirience-content__button{
        margin-bottom: 50px;
    }

    .expirience-boxes--first {
        margin-bottom: 0;
    }
    /* Team */

    .team {
        padding: 50px 0;
    }

    .team-cards{
        flex-wrap: wrap;
        gap: 3%;
    }

    .team-card:nth-of-type(4) {
        display: flex;
    }

    .team-card:nth-of-type(1),
    .team-card:nth-of-type(2){
        margin-bottom: 4%;
    }

    /* Work */

    /* Feedback */

    .feedback-clients{
        flex-wrap: nowrap;
    }

    .feedback-clients__box {
        max-width: 290px;
        width: 100%;
    }

    .feedback-clients__box:first-of-type{
        padding: 5% 5% 5% 9%;
    }
    
    .slider__item:nth-of-type(2) {
        width: 62px;
        height: 19px;
        border-radius: 13.5px;
    }

    .slider__item:nth-of-type(3) {
        width: 19px;
        height: 19px;
        border-radius: 50%;
    }
    .slider__item:nth-of-type(1) {
        width: 19px;
        height: 19px;
        border-radius: 50%;
    }

    .feedback-clients{
        position: relative;
        /* width: 100%; */
    }

    .feedback-clients__box:last-of-type {
        height: 100%;
        /* right: -10%; */
    }

    .feedback-clients__box:first-of-type,
    .feedback-clients__box{
        margin-left: 4%;
        padding: 2% 2% 2% 7%;
        /* max-width: 225px; */
        max-width: 60%;
    }

    .feedback-clients__box::before {
        width: 40px;
        height: 40px;
        left: -20px;
    }

    .feedback-clients__field {
        padding-bottom: .4rem;
    }

    /* Blogs */

    .blogs-cards{
        position: relative;
    }

    .blogs-card {
        max-width: 73%;
        width: 100%;
    }

    .blogs-card:nth-child(2){
        position: absolute;
        right: -50%;
    }

    .blogs {
        padding: 50px 0;
    }

    /* Contact */

    .contact-cards{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .contact-card{
        max-width: 340px;
        max-height: 200px;
        height: 100%;
        margin-bottom: 20px;
        justify-content: space-evenly;
    }

    .contact-cards {
        padding-bottom: 40%;
    }

    .contact__form input {
        height: 40px;
    }

    /* info */

    .info-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }

    .info-social,
    .info-newsletter,
    .info-services,
    .info-company {
        width: 80%;
    }

    .info-newsletter,
    .info-services,
    .info-company {
        margin-left: 0;
        max-width: 260px;
    }

    #info-newsletter__email{
        height: 40px;
    }

    .arrow-up__img{
        display: none;
    }

    .footer-copytight__text {
        margin-left: 0;
        font-size: .8rem;
    }

}

/* *Extra small                                                      */

@media screen and (max-width: 575px) {

    /* Header */
    .container{
        padding: 0 15px;
        width: 100%;
    }

    .header-content-img-wrapper{
        display: flex;
        flex-direction: column;
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .header__img{
        order: -1;
        width: 100%;
        padding-bottom: 10%;
    }

    .header__content{
        width: 100%;
    }

    .header__nav.active {
        gap: 30%;
    }

    .content__text {
        margin-bottom: 6%;
    }

    /* About */
    
    .about__cards{
        flex-wrap: wrap;
    }

    .about__card{
        max-width: 100%;
        width: 100%;
    }

    .about__card:not(:last-of-type){
        margin-bottom: 5%;
    }

    /* Experience */

    /* Team */

    .team-card,
    .team-card__img {
        width: 100%;
    }

    .team-cards {
        flex-wrap: wrap;
        gap: 2%;
    }

    /* Work */

    .work-content__list {
        gap: 1rem;
        margin-bottom: 2rem;
        flex-wrap: wrap;
        justify-content: center
    }

    .work-gallery__wrapper {
        max-width: 100%;
    }

    .work {
        text-align: center;
        padding: 120px 0 50px 0;
    }

    /* Feedback */

    .feedback-clients__box:last-of-type {
        position: absolute;
        right: -30%;
    }

    /* Blogs */

    .blogs-card__img{
        max-width: 80px;
        max-height: 80px;
    }

    /* Contact */

    .contact-cards {
        padding-bottom: 60%;
    }

    .contact__form-img-wrapper {
        flex-wrap: wrap;
    }

    .contact__form-img{
        max-width: 100%;
        width: 100%;
    }

    .contact__form input {
        width: 100%;
    }

    #contact__form{
        margin-top: 5%;
    }

    .contact-icons__img{
        width: 80px;
        height: 61px;
    }

    .contact__map {
        margin: 50px 0 50px 0;
        padding: 0;
    }
    
    .contact-icons {
        gap: 0;
    }

    /* info */
}

@media screen and (max-width: 450px) {
    .feedback-clients__box:last-of-type {
        right: -30%;
    }
}

@media screen and (max-width: 370x) {
    .feedback-clients__box:last-of-type {
        right: -50%;
    }
}



