/** Other                                                            */

@media screen and (min-width: 769px) and (max-width: 1000px) {
    .header__theme-toggle-link {
        position: absolute;
        right: 5%;
    }
}

@media screen and (max-width: 1199px) {

    .team-card,
    .team-card__img {
        width: 230px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

    .work-gallery__wrapper:nth-child(4) {
        margin-top: -80px;
    }

    .work-gallery__wrapper:nth-child(6) {
        margin-top: -80px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    .work-gallery__wrapper:nth-child(4) {
        margin-top: -30px;
    }

    .work-gallery__wrapper:nth-child(6) {
        margin-top: -30px;
    }

    .work-gallery__wrapper {
        max-width: 315px;
        margin-bottom: 1%;
    }

}

/** Medium                                                           */


@media screen and (max-width: 1000px) {
    /* header */
    :root{
        font-size: 14px;
    }

    .logo-nav-wrapper{
        gap: 3%;
    }

    .nav__list{
        justify-content: space-around;
        gap: 3%;
        display: flex;
    }

    .list__item:not(:last-of-type){
        margin-right: 0;
    }

    .nav__list,
    .header__logo{
        padding: 0;
    }

    .content__text{
        margin-bottom: 25px;
    }

    .header__theme-toggle-link{
        width: 24px;
        height: 24px;
    }

    .header__img{
        width: 49%;
        height: 50%;
    }

    .header__content{
        width: 49%;
    }

    .header-social__links{
        top: 30%;
    }

    .content__heading{
        font-size: 2.8rem;
    }

    /* About */

    .about__img {
        object-fit: contain;
        align-self: center;
    }
    .section-heading {
        font-size: 2.3rem;
    }

    .about__card {
        padding: 15px 22px 11px 22px;
        max-width: 160px;
    }

    /* Experience */

    .expirience-box__index {
        font-size: 2.5rem;
    }

    .expirience-box__caption {
        font-size: 1rem;
    }

    .expirience-content__text:last-of-type {
        margin-bottom: 2rem;
    }

    /* Team */

    .team-cards{
        display: flex;
    }

    .team-card:nth-of-type(4) {
        display: none;
    }

    /* Work */

    .work-gallery__wrapper {
        max-width: 230px;
        max-height: 350px;
        margin-bottom: 1%;
    }

    /* Feedback */

    .feedback-clients__box:first-of-type {
        margin-left: 3%;
    }

    .feedback-clients__box{
        max-width: 290px;
        width: 100%;
        padding: 5% 5% 5% 6%;
    }

    .feedback {
        padding: 3.75rem 0 3.75rem 0;
    }

    .container {
        width: 90%;
    }

}

/**Small                                                             */

@media screen and (max-width: 768px){

    /* header */
    .nav__list{
        display: none;
    }

    .nav__list.active{
        display: flex;
        flex-direction: column;
    }

    .nav__list.active li{
        margin-right: 0;
    }

    .nav__list.active .list__item:not(:last-child){
        margin-bottom: 5%;
    }

    .header__logo.active{
        display: none;
    }
    .header__theme-toggle-link.active{
        display: none;
    }

    .header__nav.active{
        padding: 25px 0;
        width: 100%;
        justify-content: flex-end;
        gap: 35%;
    }

    .logo-nav-wrapper{
        justify-content: space-between;
    }

    .burger {
        display: block;
        align-self: flex-start;
        order: 1;
    }

    .burger.active {
        padding-top: 7.5px;
    }

    .header__logo{
        order: -2;
    }

    .header__theme-toggle-link{
        order: -1;
        margin-left: -20%;
    }
    
    .burger.active .burger__bar:nth-child(2) {
        opacity: 0;
    }
    
    .burger.active .burger__bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .burger.active .burger__bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .header-social__links {
        top: 20%;
    }

    /* About */

    .about {
        padding: 50px 0;
    }

    .about-content{
        text-align: center;
    }

    .about__card {
        max-width: 125px;
        padding: 10px 20px 10px 20px;
    }

    /* Experience */

    .expirience-content{
        text-align: center;
    }

    .expirience-content__button{
        margin-bottom: 50px;
    }

    .expirience-boxes--first {
        margin-bottom: 0;
    }
    /* Team */

    .team {
        padding: 50px 0;
    }

    .team-cards{
        flex-wrap: wrap;
        gap: 3%;
    }

    .team-card:nth-of-type(4) {
        display: flex;
    }

    .team-card:nth-of-type(1),
    .team-card:nth-of-type(2){
        margin-bottom: 4%;
    }

    /* Work */

    /* Feedback */

    .feedback-clients{
        flex-wrap: nowrap;
    }

    .feedback-clients__box {
        max-width: 290px;
        width: 100%;
    }

    .feedback-clients__box:first-of-type{
        padding: 5% 5% 5% 9%;
    }
    
    .slider__item:nth-of-type(2) {
        width: 62px;
        height: 19px;
        border-radius: 13.5px;
    }

    .slider__item:nth-of-type(3) {
        width: 19px;
        height: 19px;
        border-radius: 50%;
    }
    .slider__item:nth-of-type(1) {
        width: 19px;
        height: 19px;
        border-radius: 50%;
    }

    .feedback-clients{
        position: relative;
    }

    .feedback-clients__box:last-of-type {
        height: 100%;
        /* right: -10%; */
    }

    .feedback-clients__box:first-of-type,
    .feedback-clients__box{
        margin-left: 4%;
        padding: 2% 2% 2% 7%;
        max-width: 225px;
    }

    .feedback-clients__box::before {
        content: '';
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        background-color: #242526;
        left: -20px;
    }

    .feedback-clients__field {
        padding-bottom: .4rem;
    }

}

/* *Extra small                                                      */

@media screen and (max-width: 575px) {
    /* Header */
    .container{
        padding: 0 15px;
        width: 100%;
    }

    .header-content-img-wrapper{
        display: flex;
        flex-direction: column;
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .header__img{
        order: -1;
        width: 100%;
        padding-bottom: 10%;
    }

    .header__content{
        width: 100%;
    }

    .content__text {
        margin-bottom: 6%;
    }

    /* About */
    
    .about__cards{
        flex-wrap: wrap;
    }

    .about__card{
        max-width: 100%;
        width: 100%;
    }

    .about__card:not(:last-of-type){
        margin-bottom: 5%;
    }

    /* Experience */

    /* Team */

    .team-card,
    .team-card__img {
        width: 100%;
    }

    .team-cards {
        flex-wrap: wrap;
        gap: 2%;
    }

    /* Work */

    .work-content__list {
        gap: 1rem;
        margin-bottom: 2rem;
        flex-wrap: wrap;
        justify-content: center
    }

    .work-gallery__wrapper {
        max-width: 100%;
    }

    .work {
        text-align: center;
        padding: 120px 0 50px 0;
    }

    /* Feedback */

    .feedback-clients__box:last-of-type {
        position: absolute;
        right: -15%;
    }
    
}

@media screen and (max-width: 450px) {
    .feedback-clients__box:last-of-type {
        right: -30%;
    }
}

@media screen and (max-width: 400px) {
    .feedback-clients__box:last-of-type {
        right: -40%;
    }
}

@media screen and (max-width: 370x) {
    .feedback-clients__box:last-of-type {
        right: -50%;
    }
}



